# Local .terraform directories
.terraform/

# Terraform state files
terraform.tfstate
terraform.tfstate.backup
*.tfstate
*.tfstate.*

# Crash logs
crash.log

# Terraform plan output
*.tfplan

# Sensitive variable files
*.tfvars
*.tfvars.json

# Ignore override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# .terraform.lock.hcl can be committed if you want dependency locking
# If you don’t want to commit it:
# .terraform.lock.hcl
